matplotlib-inline==0.1.7
nvidia-cusparse-cu12==12.1.0.106
pexpect==4.9.0
tqdm==4.62.2
nvidia-cudnn-cu12==9.1.0.70
pip==24.2
MarkupSafe==3.0.1
requests==2.32.3
docker-pycreds==0.4.0
llvmlite==0.43.0
nvidia-cuda-cupti-cu12==12.1.105
nvidia-curand-cu12==10.3.2.106
GitPython==3.1.41
numba==0.60.0
pyrsistent==0.18.0
ipdb==0.13.13
threadpoolctl==3.5.0
setproctitle==1.3.3
protobuf==5.28.2
parso==0.8.4
lazy_loader==0.4
setuptools==75.1.0
nvidia-cuda-nvrtc-cu12==12.1.105
ipython==8.28.0
numpy==1.22.0
charset-normalizer==3.4.0
certifi==2024.8.30
asttokens==2.4.1
nvidia-cuda-runtime-cu12==12.1.105
ffmpeg-python==0.2.0
ptyprocess==0.7.0
executing==2.1.0
filelock==3.16.1
simplejson==3.17.5
easydict==1.13
wheel==0.44.0
nvidia-nvjitlink-cu12==12.6.77
prompt_toolkit==3.0.48
pyaml==21.8.3
nvidia-cufft-cu12==11.0.2.54
idna==3.10
nvidia-nvtx-cu12==12.1.105
msgpack==1.1.0
wcwidth==0.2.13
librosa==0.9.1
torch==2.4.1
pandas==1.3.3
future==0.18.3
typing_extensions==4.12.2
psutil==6.0.0
smmap==4.0.0
exceptiongroup==1.2.2
click==8.1.7
joblib==1.2.0
torchaudio==2.4.1
pooch==1.8.2
museval==0.3.1
soxr==0.5.0.post1
six==1.16.0
scikit-learn==1.5.2
triton==3.0.0
stempeg==0.2.3
jedi==0.19.1
tomli==2.0.2
Pygments==2.18.0
mpmath==1.3.0
fsspec==2024.9.0
pytz==2021.1
torchvision==0.19.1
attrs==21.2.0
Jinja2==3.1.4
jsonschema==3.2.0
scipy==1.10.0
pure_eval==0.2.3
PyYAML==6.0.2
packaging==24.1
sentry-sdk==2.17.0
python-dateutil==2.8.2
stack-data==0.6.3
traitlets==5.14.3
musdb==0.3.1
networkx==3.4.1
sympy==1.13.3
urllib3==2.2.3
nvidia-cusolver-cu12==11.4.5.107
nvidia-cublas-cu12==12.1.3.1
platformdirs==4.3.6
gitdb==4.0.7
soundfile==0.12.1
audioread==3.0.1
pycparser==2.20
cffi==1.14.6
pillow==11.0.0
wandb==0.18.3
resampy==0.4.3
decorator==5.1.1
nvidia-nccl-cu12==2.20.5
wheel==0.43.0
jaraco.functools==4.0.1
inflect==7.3.1
autocommand==2.2.2
jaraco.text==3.12.1
typeguard==4.3.0
jaraco.collections==5.1.0
platformdirs==4.2.2
jaraco.context==5.3.0
more-itertools==10.3.0
typing_extensions==4.12.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
tomli==2.0.1
packaging==24.1
zipp==3.19.2
